.form {
  margin: 1rem auto;
  width: min(70rem, calc(100% - 2rem));
  border: var(--border-primary);
  border-radius: 0.25rem;
}

.form-group {
  padding: 1rem;
}

#closing-rank-from,
#closing-rank-to {
  background-color: transparent;
  border: var(--border-primary);
  outline: transparent;
  font: inherit;
  padding: 0.25rem;
  border-radius: 0.25rem;
  max-width: 10ch;
  text-align: center;
}

#closing-rank-from:focus-visible,
#closing-rank-to:focus-visible {
  border-color: var(--accent-color);
}

.submit-btn-wrapper {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  gap: 1rem;
}

.reset-btn,
.submit-btn {
  background-color: var(--accent-color);
  border: none;
  font: inherit;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  color: var(--bg-primary);
  cursor: pointer;
}

.filter-select {
  border: var(--border-primary);
  background-color: var(--bg-primary);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font: inherit;
  outline: transparent;
  width: 100%;
  flex-shrink: 1;
}

.filter-select:focus-visible {
  border-color: var(--accent-color);
}

.filter-select-wrapper {
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .filter-select-wrapper {
    display: grid;
    grid-template-columns: 10ch auto;
  }
}
