*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.8rem;
}

:root {
  color-scheme: dark;
  --bg-primary: hsl(200, 8%, 8%);
  --text-primary: hsl(200, 8%, 92%);
  --table-bg-1: hsl(200, 5%, 10%);
  --table-bg-2: hsl(200, 5%, 14%);
  --table-head-bg: hsl(170, 100%, 25%);
  --scrollbar-track-bg: hsl(200, 5%, 20%);
  --scrollbar-thumb-bg: hsl(200, 5%, 60%);
  --scrollbar-thumb-hover-bg: hsl(200, 5%, 80%);
  --accent-color: hsl(170, 75%, 45%);
  --border-primary: 1px solid hsl(200, 5%, 30%);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color-scheme: dark;
}

.table-wrapper {
  width: calc(100% - 2rem);
  height: calc(100svh - 2rem);
  margin: 1rem;
  overflow: auto;
  color-scheme: dark;
  background-color: var(--table-bg-1);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border: 0.15rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg);
  border: 0.15rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  width: 1rem;
  height: 1rem;
  background: var(--scrollbar-thumb-bg);
}
